[user]
  name = namusyaka
  email = namusyaka@gmail.com
[core]
  editor = /usr/local/bin/nvim
[color]
  ui = true
  diff = true
[alias]
  co = checkout
  st = status
  br = branch
  ci = commit
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync
